body{
    font-size: 20px;
}



.mycontainer div{
    margin-bottom: 10px;
}
.control_panel{
    border: 0px ;

}
.control_panel input{

    color: #690075;
    border : 1px solid;
    padding: 6px;

}
.control_panel label{
    width: 13%;
    display: inline-block;

}
.control_panel_group{
    margin-top: 2px;
}
.control_panel_search{
    margin-top: -29px;
    margin-left: 365px;
    margin-bottom: 7px;
}
.btn input{
    border: 1px solid rgba(37, 1, 49, 0.98);
    color: #ffff;
    background-color: rgba(88, 7, 182, 0.98);
    font-size: 16px;
}
.btn_table{
    border: 0px;
    font-size: 20px
;
}
